h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: cadetblue;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

dd{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-size: 1em;
    list-style-type:circle;
}

dl{
    font-size: 2.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    color: black;
    font-size: 1.75em;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

.top{
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
    border-radius: 50px;
}

.socials{
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
}

:visited, :link{
    color: white;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

:hover{
    color:honeydew;
}

div{
    padding: 0px 100px 0px 50px;
}
