body{
    padding: 0;
    margin: 0;
}

header h1{
    background-color: cadetblue;
    opacity: 0.8;
    color:white;
    min-height: 250px;
    overflow: auto;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 10px darkgray;
}

.top{
    padding: 30px 0px 30px 0px;
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
}

div{
    padding: 0px 50px 0px 50px;
    margin: 0;
}

.list{
    margin: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.75em;
}

h2{
    color: cadetblue;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    color: black;
    font-size: 1.75em;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

.main li{
    font-size: 1em;
    list-style-type: circle;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 150px;
    opacity: 0.7;
}

#arrowUp{
    width: 70px;
    height: 70px;
    background-color: white;
}

.bot{
    min-height: 300px;
    background-color: black;
    justify-content: center;
    display:flex;
    align-items: center;    
}

.socials{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: black;   
}

html{
    scroll-behavior: smooth;
}

:visited, :link{
    color: white;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

:hover{
    color:honeydew;
}